{% extends "layout.html" %}

{% block title %}
    Transaction History
{% endblock %}

{% block main %}
    <h2 class="mb-4">Transaction History</h2>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Shares</th>
                <th>Price</th>
                <th>Transaction Date</th>
            </tr>
        </thead>
        <tbody>
            {% for transaction in transactions %}
                <tr>
                    <td>{{ transaction["symbol"] }}</td>
                    <td>{{ transaction["shares"] }}</td>
                    <td>{{ usd(transaction["price"]) }}</td>
                    <td>{{ transaction["transacted_at"] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
